src/pug/index.pug
extends  includes/layout

append vars
  - var isIndexPage = true

block header

block content
  .section.section-padding-top.clearfix
    .font-size--30.margin--bottom-8: a(href='home.html') Главная
    .font-size--30.margin--bottom-8: a(href='home-plus-sticker.html') Главная + всплывашка
    .font-size--30.margin--bottom-8: a(href='contacts.html') Контакты
    .font-size--30.margin--bottom-8: a(href='questions.html') Вопросы
    .font-size--30.margin--bottom-8: a(href='titles.html') Заголовки
    .font-size--30.margin--bottom-8: a(href='products.html') Продукты
    .font-size--30.margin--bottom-8: a(href='show-popup-success.html') Попап при успешном заказе

block sticker

block footer

block scripts

dist/index.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--link(rel='shortcut icon' href='images/favicon.png')-->
    <title>БЫСТРЫЕ Деньги | </title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body style="padding-top: 0;">
    <div class="wrapper wrapper--shadow">
      <div class="section section-padding-top clearfix">
        <div class="font-size--30 margin--bottom-8"><a href="home.html">Главная</a></div>
        <div class="font-size--30 margin--bottom-8"><a href="home-plus-sticker.html">Главная + всплывашка</a></div>
        <div class="font-size--30 margin--bottom-8"><a href="contacts.html">Контакты</a></div>
        <div class="font-size--30 margin--bottom-8"><a href="questions.html">Вопросы</a></div>
        <div class="font-size--30 margin--bottom-8"><a href="titles.html">Заголовки</a></div>
        <div class="font-size--30 margin--bottom-8"><a href="products.html">Продукты</a></div>
        <div class="font-size--30 margin--bottom-8"><a href="show-popup-success.html">Попап при успешном заказе</a></div>
      </div>
    </div>
    <div class="popup-overlay" data-popup-overlay="popup">
      <div class="popup" data-popup>
        <div class="popup-close" data-popup-close></div><a class="logo" href="" title=""><img class="logo-img" src="images/logo--white.png" alt=""></a>
        <form class="popup-form">
          <label class="label">
            <input class="input input--bg" placeholder="ИМЯ" data-inputmask-name>
          </label>
          <label class="label">
            <input class="input input--bg text-align--center" placeholder="+375 29 888 77 66" data-inputmask-phone>
          </label>
          <button class="button button--lg button--orange-background" type="submit">отправить заявку</button>
        </form>
        <div class="popup-footer">
          <div class="popup-footer-icon"></div>
          <div class="popup-footer-text">
            Ваши данные под защитой.<br>
            Мы гарантируем не передавать личную информацию 3-м лицам.
          </div>
        </div>
      </div>
    </div>
    <div class="popup-overlay" data-popup-overlay="popup-success">
      <div class="popup" data-popup>
        <div class="popup-close" data-popup-close></div>
        <div class="p text-color--white font-size--25 margin--bottom-20 margin--top-20 text-align--center">Спасибо, ваша заявка принята</div>
      </div>
    </div>
  </body>
</html>
