src/pug/titles.pug
extends  includes/layout

block vars
  - var isBgWrapperGrey = true

block content
  include includes/components/breadcrumbs

  .align--container.section
    .align--item
      h1.title.title--1.margin--bottom-1 быстрые займы

      //-.p.font-size--30.margin--bottom-1.
      //-  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      //-  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
      //-
      //-h2.title.title--3.margin--bottom-1.text-color--orange Заголовок 2
      //-
      //-.p.font-size--25.margin--bottom-7.
      //-  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      //-  magna aliqua. Ut enim ad minim veniam
      //-
      //-.p.margin--bottom-9.
      //-  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
      //-  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      //-
      //-h3.title.title--4.margin--bottom-1 Заголовок 3
      //-
      //-ol.ol.margin--bottom-10
      //-  - for(var i=0; i<3; i++)
      //-    li.li.p Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      //-
      //-ul.ul
      //-  - for(var i=0; i<3; i++)
      //-    li.li.p.margin--bottom-10 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      //-
      //-.table-wrap.margin--bottom-30
      //-  table.table
      //-    thead.thead
      //-      tr.tr
      //-        - for(var i=0; i<6; i++)
      //-          th.th qweqwe
      //-    tbody.tbody
      //-      - for(var i=0; i<11; i++)
      //-        tr.tr
      //-          - for(var j=0; j<6; j++)
      //-            td.td asdasd

      .user-styles
        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris

        h2 Заголовок 2

        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam

        p.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut

        h3 Заголовок 3

        ol
          - for(var i=0; i<3; i++)
            li Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip

        ul
          - for(var i=0; i<3; i++)
            li Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip

        table
          thead
            tr
              - for(var i=0; i<6; i++)
                th qweqwe
          tbody
            - for(var i=0; i<11; i++)
              tr
                - for(var j=0; j<6; j++)
                  td asdasd

    include includes/components/sidebar-right

  .section.align--container-center.margin--bottom-30
    .button.button--sm.button--orange-background.button--width-100-sm(data-popup-link) Получить деньги

  include includes/components/section-steps
  include includes/components/section-offer-condition
  include includes/components/section-indicators
  include includes/components/section-feedback
  include includes/components/section-advantages
  include includes/components/section-questions

dist/titles.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="address=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <!--link(rel='shortcut icon' href='images/favicon.png')-->
    <title>БЫСТРЫЕ Деньги | </title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <header class="header" data-mobile-menu>
      <div class="header-top" data-header-top>
        <div class="header-burger" data-mobile-menu-link></div>
        <div class="wrapper wrapper--padding">
          <div class="grid--1of4"><a class="logo" href="" title=""><img class="logo-img" src="images/logo.png" alt=""></a></div>
          <div class="grid--1of4">
            <div class="dropdown" data-dropdown>
              <div class="dropdown-link" data-dropdown-link>Минск</div>
              <div class="dropdown-container animation--fade-in-down">
                <div class="dropdown-container-title">Работаем на всей территории<br>Республики Беларусь</div><a class="dropdown-container-link active" href="">Минск и область</a><a class="dropdown-container-link" href="">Витебск и область</a><a class="dropdown-container-link" href="">Гомель и область</a><a class="dropdown-container-link" href="">Гродно и область</a><a class="dropdown-container-link" href="">Могилев и область</a><a class="dropdown-container-link" href="">Брест и область</a>
              </div>
            </div>
          </div>
          <div class="grid--1of4">
            <div class="header-phone-wrap"><a class="header-phone" href="tel:+375442536688">+375 44 253 66 88</a><a class="header-phone" href="tel:+375295845533">+375 29 584 55 33</a>
            </div>
          </div>
          <div class="grid--1of4">
            <div class="button button--sm button--orange-border" data-popup-link="popup">онлайн заявка</div>
          </div>
        </div>
      </div>
      <div class="header-bottom" data-header-bottom>
        <div class="wrapper">
          <nav class="header-nav"><a class="logo" href="" title=""><img class="logo-img" src="images/logo--white.png" alt=""></a>
            <ul class="header-nav-list">
              <li class="header-nav-item"><a class="header-nav-link active" href="">Главная</a></li>
              <li class="header-nav-item"><a class="header-nav-link" href="">Продукты</a></li>
              <li class="header-nav-item"><a class="header-nav-link" href="">Вопросы и ответы</a></li>
              <li class="header-nav-item"><a class="header-nav-link" href="">Контакты</a></li>
            </ul>
            <div class="button button--sm button--orange-border" data-popup-link="popup">онлайн заявка</div>
          </nav>
        </div>
      </div>
    </header>
    <div class="wrapper wrapper--shadow wrapper--grey">
      <nav class="breadcrumbs section">
        <ul class="breadcrumbs-list">
          <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="">Главная </a></li>
          <li class="breadcrumbs-item"><a class="breadcrumbs-link">Контакты</a></li>
        </ul>
      </nav>
      <div class="align--container section">
        <div class="align--item">
          <h1 class="title title--1 margin--bottom-1">быстрые займы</h1>
          <div class="user-styles">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
              
            </p>
            <h2>Заголовок 2</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam
              
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              
            </p>
            <h3>Заголовок 3</h3>
            <ol>
              <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
              <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
              <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
            </ol>
            <ul>
              <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
              <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
              <li>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</li>
            </ul>
            <table>
              <thead>
                <tr>
                  <th>qweqwe</th>
                  <th>qweqwe</th>
                  <th>qweqwe</th>
                  <th>qweqwe</th>
                  <th>qweqwe</th>
                  <th>qweqwe</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
                <tr>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                  <td>asdasd</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <aside class="sidebar-wrap sidebar-wrap--right">
          <div class="sidebar" data-sticky-sidebar>
            <div class="font-size--25 text-color--green text-transform--uppercase font-weight--700 margin--bottom-10">В других городах</div>
            <div class="sidebar-nav-link p">Займы без поручителей в Бресте</div>
            <div class="sidebar-nav-link p">Займы без поручителей в Могилеве</div>
            <div class="sidebar-nav-link p">Займы без поручителей в Гомеле</div>
            <div class="sidebar-nav-link p">Займы без поручителей в Витебске</div>
            <div class="sidebar-nav-link p">Займы без поручителей в Гродно</div>
            <div class="font-size--25 text-color--green text-transform--uppercase font-weight--700 margin--bottom-10 margin--top-30">Смотрите так же</div>
            <div class="sidebar-nav-link p">Займы под 0,1%</div>
            <div class="sidebar-nav-link p">Займы под 2 процента годовых</div>
          </div>
        </aside>
      </div>
      <div class="section align--container-center margin--bottom-30">
        <div class="button button--sm button--orange-background button--width-100-sm" data-popup-link>Получить деньги</div>
      </div>
      <section class="section-steps section section-padding-top">
        <div class="title title--2 margin--bottom-12 text-color--orange">3 простых шага к получению займа</div>
        <ul class="section-steps-list">
          <li class="section-steps-item" data-scroll-animation="fade-in" data-scroll-animation-delay="000">
            <div class="section-steps-item-title">ШАГ 1</div>
            <div class="section-steps-item-text">Оставьте заявку на сайте</div>
          </li>
          <li class="section-steps-item" data-scroll-animation="fade-in" data-scroll-animation-delay="300">
            <div class="section-steps-item-title">ШАГ 2</div>
            <div class="section-steps-item-text">Подойдите  к нам в офис</div>
          </li>
          <li class="section-steps-item" data-scroll-animation="fade-in" data-scroll-animation-delay="600">
            <div class="section-steps-item-title">ШАГ 3</div>
            <div class="section-steps-item-text">Получите деньги</div>
          </li>
        </ul>
      </section>
      <section class="section-offer-condition section section-padding-top">
        <div class="title title--2 margin--bottom-8 text-color--green text-align--center">Наше предложение специально для Вас, если</div>
        <ul class="section-offer-condition-list">
          <li class="section-offer-condition-item-wrap font-size--25 margin--bottom-16 p" data-scroll-animation="fade-in" data-scroll-animation-delay="000" data-additional-text-wrap>
            <div class="section-offer-condition-item" data-additional-text>Ваш возраст от 21 года до 68 лет. Ваш возраст от 21 года до 68 лет</div>
            <div class="additional-text-link" data-additional-link></div>
          </li>
          <li class="section-offer-condition-item-wrap font-size--25 margin--bottom-16 p" data-scroll-animation="fade-in" data-scroll-animation-delay="100" data-additional-text-wrap>
            <div class="section-offer-condition-item" data-additional-text>Есть постоянная регистрация в РБ</div>
            <div class="additional-text-link" data-additional-link></div>
          </li>
          <li class="section-offer-condition-item-wrap font-size--25 margin--bottom-16 p" data-scroll-animation="fade-in" data-scroll-animation-delay="200" data-additional-text-wrap>
            <div class="section-offer-condition-item" data-additional-text>Ваш возраст от 21 года до 68 лет</div>
            <div class="additional-text-link" data-additional-link></div>
          </li>
          <li class="section-offer-condition-item-wrap font-size--25 margin--bottom-16 p" data-scroll-animation="fade-in" data-scroll-animation-delay="300" data-additional-text-wrap>
            <div class="section-offer-condition-item" data-additional-text>Вы — гражданин РБ</div>
            <div class="additional-text-link" data-additional-link></div>
          </li>
          <li class="section-offer-condition-item-wrap font-size--25 margin--bottom-16 p" data-scroll-animation="fade-in" data-scroll-animation-delay="400" data-additional-text-wrap>
            <div class="section-offer-condition-item" data-additional-text>Вы ремесленник, владелец подсобного хозяйства,  владелец подсобного хозяйства</div>
            <div class="additional-text-link" data-additional-link></div>
          </li>
          <li class="section-offer-condition-item-wrap font-size--25 margin--bottom-16 p" data-scroll-animation="fade-in" data-scroll-animation-delay="500" data-additional-text-wrap>
            <div class="section-offer-condition-item" data-additional-text>Вы — гражданин РБ</div>
            <div class="additional-text-link" data-additional-link></div>
          </li>
        </ul>
      </section>
      <section class="section-indicators section">
        <div class="section-indicators-col" data-scroll-animation="fade-in-slide-left">
          <div class="p font-size--30 margin--bottom-4">Выдано займов</div>
          <div class="section-indicators-number" data-increase-number="7">3 241</div>
          <div class="p font-size--30 margin--bottom-4">На общую сумму</div>
          <div class="section-indicators-number-wrap">
            <div class="section-indicators-number" data-increase-number="4000">6 370 500</div>
            <div class="section-indicators-number-unit font-size--30">BYN</div>
          </div>
        </div>
        <div class="section-indicators-col">
          <div class="p font-size--30 margin--bottom-4">Спецпредложение действует</div>
          <ul class="section-indicators-special-list">
            <li class="section-indicators-special-item">
              <div class="section-indicators-special-item-number" data-timer-day>17</div>
              <div class="section-indicators-special-item-text" data-timer-day-unit>дней</div>
            </li>
            <li class="section-indicators-special-item">
              <div class="section-indicators-special-item-number" data-timer-hour>13</div>
              <div class="section-indicators-special-item-text" data-timer-hour-unit>часов</div>
            </li>
            <li class="section-indicators-special-item">
              <div class="section-indicators-special-item-number" data-timer-min>26</div>
              <div class="section-indicators-special-item-text" data-timer-min-unit>минут</div>
            </li>
            <li class="section-indicators-special-item">
              <div class="section-indicators-special-item-number" data-timer-sec>15</div>
              <div class="section-indicators-special-item-text" data-timer-sec-unit>секунд</div>
            </li>
          </ul>
          <div class="button button--sm button--orange-background" data-popup-link="popup">Получить деньги</div>
        </div>
      </section>
      <section class="section-feedback section section-padding-top">
        <div class="title title--2 margin--bottom-3 text-color--green text-align--center">Отзывы наших клиентов</div>
        <ul class="section-feedback-list" data-slider>
          <li class="section-feedback-item">
            <div class="section-feedback-img-wrap"><a data-feedback-popup href="images/feedback-1.jpg">
                <div class="section-feedback-img" style="background-image: url(&quot;images/feedback-1.jpg&quot;);"></div></a></div>
            <div class="section-feedback-text p">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </div>
          </li>
          <li class="section-feedback-item">
            <div class="section-feedback-img-wrap"><a data-feedback-popup href="images/feedback-2.jpg">
                <div class="section-feedback-img" style="background-image: url(&quot;images/feedback-2.jpg&quot;);"></div></a></div>
            <div class="section-feedback-text p">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </div>
          </li>
          <li class="section-feedback-item">
            <div class="section-feedback-img-wrap"><a data-feedback-popup href="images/feedback-3.jpg">
                <div class="section-feedback-img" style="background-image: url(&quot;images/feedback-3.jpg&quot;);"></div></a></div>
            <div class="section-feedback-text p">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
              laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
              dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
            </div>
          </li>
        </ul>
      </section>
      <section class="section-advantages section section-padding-top">
        <div class="title title--2 margin--bottom-12 text-color--green">Наши преимущества</div>
        <ul class="section-advantages-list">
          <li class="section-advantages-item" data-scroll-animation="fade-in-zoom-in" data-scroll-animation-delay="000">
            <div class="section-advantages-img-wrap"><img class="section-advantages-img" src="images/advantage-1.png"></div>
            <div class="p font-size--30">Дешевле, чем в банке!<br>Ставка <div class="section-advantages-text-number">0,15%</div></div>
          </li>
          <li class="section-advantages-item" data-scroll-animation="fade-in-zoom-in" data-scroll-animation-delay="300">
            <div class="section-advantages-img-wrap"><img class="section-advantages-img" src="images/advantage-2.png"></div>
            <div class="p font-size--30">Быстрое оформление<br>До <div class="section-advantages-text-number">15</div> минут!</div>
          </li>
          <li class="section-advantages-item" data-scroll-animation="fade-in-zoom-in" data-scroll-animation-delay="600">
            <div class="section-advantages-img-wrap"><img class="section-advantages-img" src="images/advantage-3.png"></div>
            <div class="p font-size--30">На очень длительные сроки<br>До <div class="section-advantages-text-number">48</div> месяцев</div>
          </li>
        </ul>
      </section>
      <section class="section-questions section">
        <div class="grid--1of2">
          <div class="title title--3 margin--bottom-10">Остались вопросы?</div>
          <ul class="section-questions-list">
            <li class="section-questions-item p"><a class="section-questions-link" href="">Как взять займ?</a></li>
            <li class="section-questions-item p"><a class="section-questions-link" href="">Кто может оформить заявку?</a></li>
            <li class="section-questions-item p"><a class="section-questions-link" href="">Каковы условия для меня?</a></li>
            <li class="section-questions-item p"><a class="section-questions-link" href="">Как погасить кредит?</a></li>
          </ul>
        </div>
        <div class="grid--1of2">
          <form class="section-questions-form">
            <label class="label">
              <input class="input input--sm" placeholder="ИМЯ" data-inputmask-name>
            </label>
            <label class="label">
              <input class="input input--sm text-align--center" placeholder="+375 29 888 77 66" data-inputmask-phone>
            </label>
            <button class="button button--md button--orange-background" type="submit">Перезвонить мне</button>
          </form>
        </div>
      </section>
      <footer class="footer section">
        <div class="grid--1of4">
          <div class="footer-grid-container"><a class="footer-logo" href="" title=""><img class="footer-logo-img" src="images/logo--white.png" alt=""></a></div>
        </div>
        <div class="grid--1of4">
          <div class="footer-grid-container">
            <nav class="footer-nav">
              <ul class="footer-nav-list">
                <li class="footer-nav-item p"><a class="footer-nav-link" href="">Главная</a></li>
                <li class="footer-nav-item p"><a class="footer-nav-link" href="">Продукты</a></li>
                <li class="footer-nav-item p"><a class="footer-nav-link" href="">Вопросы и ответы</a></li>
                <li class="footer-nav-item p"><a class="footer-nav-link" href="">Контакты</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="grid--1of4">
          <div class="footer-grid-container">
            <div class="footer-phone-title">Свяжитесь с нами</div>
            <div class="footer-phone-wrap">
              <div class="footer-phone-icon-wrap"><img class="footer-phone-icon" src="images/life.png"></div><a class="footer-phone p" href="tel:+375255335555">+375 (25) 533-55-55</a>
            </div>
            <div class="footer-phone-wrap">
              <div class="footer-phone-icon-wrap"><img class="footer-phone-icon" src="images/mts.png"></div><a class="footer-phone p" href="tel:+375298621621">+375 (29) 8-621-621</a>
            </div>
            <div class="footer-phone-wrap">
              <div class="footer-phone-icon-wrap"><img class="footer-phone-icon" src="images/mts.png"></div><a class="footer-phone p" href="tel:+375295704420">+375 (29) 570-44-20</a>
            </div>
            <div class="footer-phone-wrap">
              <div class="footer-phone-icon-wrap"><img class="footer-phone-icon" src="images/velc.png"></div><a class="footer-phone p" href="tel:+375296800103">+375 (29) 6-800-103</a>
            </div>
          </div>
        </div>
        <div class="grid--1of4">
          <div class="footer-grid-container">
            <div class="footer-location-title">Как нас найти</div>
            <div class="footer-location">Минск, Кропоткина, 108а</div>
            <ul class="footer-social-list">
              <li class="footer-social-item"><a class="footer-social-link" href=""><img class="footer-social-img" src="images/ok.png"></a></li>
              <li class="footer-social-item"><a class="footer-social-link" href=""><img class="footer-social-img" src="images/facebook.png"></a></li>
              <li class="footer-social-item"><a class="footer-social-link" href=""><img class="footer-social-img" src="images/vkontakte.png"></a></li>
              <li class="footer-social-item"><a class="footer-social-link" href=""><img class="footer-social-img" src="images/insta.png"></a></li>
              <li class="footer-social-item"><a class="footer-social-link" href=""><img class="footer-social-img" src="images/youtube.png"></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <div class="popup-overlay" data-popup-overlay="popup">
      <div class="popup" data-popup>
        <div class="popup-close" data-popup-close></div><a class="logo" href="" title=""><img class="logo-img" src="images/logo--white.png" alt=""></a>
        <form class="popup-form">
          <label class="label">
            <input class="input input--bg" placeholder="ИМЯ" data-inputmask-name>
          </label>
          <label class="label">
            <input class="input input--bg text-align--center" placeholder="+375 29 888 77 66" data-inputmask-phone>
          </label>
          <button class="button button--lg button--orange-background" type="submit">отправить заявку</button>
        </form>
        <div class="popup-footer">
          <div class="popup-footer-icon"></div>
          <div class="popup-footer-text">
            Ваши данные под защитой.<br>
            Мы гарантируем не передавать личную информацию 3-м лицам.
          </div>
        </div>
      </div>
    </div>
    <div class="popup-overlay" data-popup-overlay="popup-success">
      <div class="popup" data-popup>
        <div class="popup-close" data-popup-close></div>
        <div class="p text-color--white font-size--25 margin--bottom-20 margin--top-20 text-align--center">Спасибо, ваша заявка принята</div>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/jquery.colorbox-min.js"></script>
    <script src="js/sticky-kit.min.js"></script>
    <script src="js/jquery.inputmask.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
